/****GLOBALES***/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    background-color: #f6ea18;
}
table{
    margin: 0 auto;
}
header{
    background-color: #FFF;
}
h1{
    display: block;
    text-align: center;
}
h4{
    text-align: left;
    margin: 5px 0;
}
p, .valores{
    display: block;
    margin: 0  auto;
    padding: 10px;
    border: 1px #FFF solid;
    width: 450px;
    border-radius: 4px;
    text-align: left;
   
}
code{
    font-size: .9rem;
}
.container {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    width: 600px;
    text-align: center;
    background-color: #168b54;
    color: white;
    border: 2rem #46230e solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
header .titulo{
    font-weight: bold;
}
.titulo code{
    font-size: 1.25rem;
}
.form-group {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.form-group input {
    padding: 10px;
    height: 30px;
    width: 80px;
    font-size: 1.25rem;
    box-shadow: none;
    border: 1px #FFF solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.form-group label {
    font-weight: bold;
}



.valores{
    margin-top: 20px;
    text-align: center;
}
.valores code{
    font-size: 1.25rem;
}
#resultado{
    width: 452px;
    margin: 0 auto;
}
.resolucion p{
    background-color: #FFF;
    color: #000;
}
.resultado{
    border: 1px #FFF solid;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    background: #f7f7f7;
    color: #000;
}
summary {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
}
.error{
    text-align: center;
    color: firebrick;
    font-weight: 600;
}
#btn-calcular, #btn-limpiar,#btn-iniciar {
    display: inline-block;
    margin: 0  auto;
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    background-color: #4aae4b;
    color: #FFF;
}
#btn-limpiar,#btn-calcular,.container {
    display: none;
}